 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';


body{
  background: #F5F5F1;
}
.container{
  font-family: Arial;
  width: 1000px;
  margin: 0 auto;
}

// =================== Header Section =========================
.header{
  background: white;
  padding: 30px;
  border-bottom: 1px solid gray;
  height: 100px;
  vertical-align: middle;
    h1{
      margin-top: 0px;
      display: inline-block;
      color: red;
      font-family: Times New Roman;
      font-size: 40px;
      padding-right: 20px;
    }
}
.upperleft{
  float: left;
  margin-left: 200px;
    input{
      width: 300px;
    }
}
.upperright{
  float: right;
  color: #5BB0CB;
  font-size: 14px;
  margin-right: 200px;
    button{
      margin: 5px;
    }
    a{
      color: #5BB0CB;
    }
    .sign{
      border: 1px solid #5BB0CB;
    }
}
.upperright a:last-child{
  border-left: 1px solid lightgray;
}
input{
  padding: 8px;
  background: #FBFBFA;
  border-radius: 4px 0px 0px 4px;
  margin-right: -5px;
}
.srch{
  background: #5BB0CB;
  border-radius: 0px 4px 4px 0px;
  padding: 8px;
  color:white;
  margin-left: 0px;
  font-weight: bold;
  font-size: 15px;
  padding-left: 15px;
  padding-right: 15px;
}
.brwse{
  background: white;
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 8px;
  margin-left: 20px;
}
.header a{
  padding: 5px;
  text-decoration: none;
}
.sign{
  background: white;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 10px;
}
// =================== Side Bar Section =========================

.sidebar{
  clear: both;
  float:left;
  background: white;
  overflow: auto;
  font-size: 12px;
  width: 220px;
  padding-left: 20px;
  margin-top: 50px;
    h4{
      color: #0192B5;
      margin-bottom: 0;
    }
    span{
      padding-left: 10px;
    }
}
ul{
  list-style: none;
  color: #5BB0CB;
  margin-top: 1px;
  padding-left: 5px;
  line-height: 20px;
}
li:hover{
  text-decoration: underline;
  cursor: pointer;
}
.cat{
  border-top: 1px solid lightgray;
  margin: 0px 15px 0px 0px;
}
.filter{
  border-top: 1px solid lightgray;
  margin: 0px 15px 0px 0px;
}
#red{
  background: red;
  padding: 8px;
  border-radius: 3px;
}
#orange{
  background: orange;
  padding: 8px;
  border-radius: 3px;
}
#yellow{
  background: yellow;
  padding: 8px;
  border-radius: 3px;
}
#green{
  background: green;
  padding: 8px;
  border-radius: 3px;
}
#bblue{
  background: blue;
  padding: 8px;
  border-radius: 3px;
}
#purple{
  background: purple;
  padding: 8px;
  border-radius: 3px;
}
#black{
  background: black;
  padding: 8px;
  border-radius: 3px;
}
#white{
  background: white;
  padding: 8px;
  border-radius: 3px;
}
.color{
  border-top: 1px solid lightgray;
  margin: 10px 15px 0px 0px;
    button{
      border: 1px solid lightgray;
      width: 20px;
      height: 20px;
    }
}
.order{
  border-top: 1px solid lightgray;
  margin: 10px 15px 0px 0px;
}
.ship{
  border-top: 1px solid lightgray;
  margin: 0px 15px 20px 0px;
}
.shipTo{
  border-top: 1px solid lightgray;
  margin: 0px 15px 20px 0px;
    span{
      padding-left: 100px
    }
}
// =================== Main Body Section =========================
.guns{
  float:left;
  width: 780px;
  margin-top: 35px;
}
img{
  width: 220px;
  padding: 3px;
}
.box{
  float: left;
  height: 220px;
  background: white;
  margin-top: 15px;
  margin-right: 10px;
  margin-left: 30px;
  margin-bottom: 5px;
  width: 220px;
  position: relative;
    h4{
      margin: 0px;
      font-family: Arial;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 12px;
      font-weight: normal;
      padding-left: 5px;
    }
    h4:hover{
      cursor: pointer;
      text-decoration: underline;
    }
    span{
      color: lightgray;
      font-size: 12px;
      padding-left: 5px;
    }
    span:hover{
      cursor: pointer;
      text-decoration: underline;
    }
    span:last-child{
      color: lime;
      float: right;
      font-size: 12px;
      margin-top: 5px;
      margin-right: 5px;
    }
}
.box:hover{
  box-shadow: 0 0 2px gray;
  cursor: pointer;

}
.shipTo{
  h3{
    display: inline-block;
  }
  select{
    width: 150px;
    font-size: 15px;
  }
}
// =================== Bottom Nav Section =========================
.bottom{
  clear:both;
  padding-top: 10px;
  margin-left: 34%;
  font-family: Arial;
  font-size: 12px
    h5{
      margin: 0px 0px 10px 0px;
    }
    ul{
      float: left;
      margin: 0px 15px 0px 0px
    }
}
.bottom ul li{
  margin-right: 20px;
  line-height: 150%;
  font-size: 15px;
}
.look{
  clear: both;
  padding-top: 15px;
  margin-left: 34%;
  font-size: 12px;
}
.numNav{
  text-align: center;
  margin: 20px 0px 0px 0px;
    a{
      text-decoration: none;
      padding: 0px 5px 0px 5px;
      font-size: 15px;
    }
}
.footer-content{
  clear: both;
  margin: 70px 0px 10px 0px;
  font-family: Arial;
  font-size: 14px;
    div{
      float: left;
      text-align: left;
      padding-right: 80px;
    }
     ul{
      padding: 0px;
    }
    li{
      line-height: 30px
    }
    button{
      background: #5BB0CB;
      border-radius: 4px;
      margin: 5px 0px 5px 5px;
      color: white;
      font-weight: bold;
    }
}

// =================== Footer Section =========================
.footer{
  clear: both;
  text-align: center;
  margin: 20px 0px 0px 0px;
  padding: 30px 0px 10px 0px;
  font-family: Arial;
    a{
      padding: 10px;
      font-family: Arial;
      font-size: 12px;
      text-decoration: none;
      color: gray;
      border: 1px solid lightgray;
    }
    button{
      background: #5BB0CB;
      border-radius: 4px;
      color: white;
      padding-left: 15px;
      padding-top: 8px;
      padding-right: 15px;
      padding-bottom: 8px;
      margin-left: 15px;
      font-weight: bold;
    }
}
.vbot{
  font-family: Arial;
  font-size: 12px;
  margin-top: 15px;
  padding-bottom: 15px;
  color: gray;
    h4{
      display: inline-block;
      color:lightgray;
      font-weight: normal;
    }
    a{
      border: none;
    }
}


